@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .flex-center {
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
}

@layer base {
    :root {
        --chat-dvh: 100dvh;
        --color-bkg: 200deg 2% 81%;
        --color-bkg-dark: 200deg 2% 65%;
        --color-content: 217deg 32% 17%;
        --color-accent1: 288deg 100% 39%;
        --color-accent2: 168deg 100% 24%;
        --color-accent3: 224deg 71% 68%;
        --color-warn: 43.26deg 96% 33%;
        --color-error: 349deg 98% 37%;
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --color-bkg: 217deg 32% 17%;
            --color-bkg-dark: 217deg 32% 7%;
            --color-content: 210deg 40% 98%;
            --color-accent1: 288deg 96% 60%;
            --color-accent2: 168deg 84% 48%;
            --color-accent3: 224deg 76% 48%;
            --color-warn: 43.26deg 96.4% 56.3%;
            --color-error: 349deg 98% 37%;
        }
    }
    :root[data-theme='dark'] {
        --color-bkg: 217deg 32% 17%;
        --color-bkg-dark: 217deg 32% 7%;
        --color-content: 210deg 40% 98%;
        --color-accent1: 288deg 96% 60%;
        --color-accent2: 168deg 84% 48%;
        --color-accent3: 224deg 76% 48%;
        --color-warn: 43.26deg 96.4% 56.3%;
        --color-error: 349deg 98% 37%;
    }
    :root[data-theme='light'] {
        --color-bkg: 200deg 2% 81%;
        --color-bkg-dark: 200deg 2% 65%;
        --color-content: 217deg 32% 17%;
        --color-accent1: 288deg 100% 39%;
        --color-accent2: 168deg 100% 24%;
        --color-accent3: 224deg 71% 68%;
        --color-warn: 43.26deg 96% 33%;
        --color-error: 349deg 98% 37%;
    }
}
